name: ci
on:
  create:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  package-and-publish-lib:
    strategy:
      matrix:
        name: [ base, extra, console, filesystem, tools ]
        include:
          - name: base
            libName: NekoLib
          - name: extra
            libName: NekoLib.Extra
          - name: console
            libName: NekoLib.Console
          - name: filesystem
            libName: NekoLib.Filesystem
          - name: tools
            libName: NekoLib.Tools
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore src
      - name: Build
        run: dotnet build -c Release --no-restore ${{matrix.libName}}
      - name: Generate NuGet package
        run: |
          dotnet pack ${{matrix.libName}}/ \
          --configuration Release \
          -p:RepositoryUrl=${{github.repositoryUrl}} \
          --output nuget --no-restore --no-build 
      - name: upload NuGet Package As Artifact
        uses: actions/upload-artifact@v4
        with:
          path: nuget/*
      - name: upload NuGet Package As Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: nuget/*
      - name: publish to NuGet
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          dotnet nuget push \
            nuget/* \
            --api-key ${{secrets.NUGET_API_KEY}}